# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# Игнорируем все файлы миграций, кроме __init__.py
*/migrations/*
!*/migrations/__init__.py

# Настройки проекта
settings.py

# Virtual Environment
venv/
env/
.env
.venv
ENV/


# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

config/settings.py
host/